<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Task.com</title>

    <link rel="stylesheet"type="text/css" href="/css/styles.css">
  </head>

  <body>
    <nav class="bg">
  <div class="left">  <h1>Maintain Your Daily Tasks Here!</h1></div>
<div class="right">
      <li><a class="about" href="/about"  ><h4>about us</h4></a></li>

      <li> <a href="/"> <h4>home</h4>  </a> </li>
</div>
    </nav>
